@import "../../../stylus/variables"

.main-footer
  margin-top auto
  font-size 14px
  font-family "Montserrat"
  font-weight 300
  background-color #212223
  line-height 22px

  .footer-nav
    .footer-header
      font-size 10px
      text-transform uppercase

  .footer-logo
    img
    p
      max-width: 198px

  .copyright-text
    @media (min-width $grid-sm)
      margin 0

  .sub-footer
    @media (min-width $grid-md)
      padding 28px 0

    background-color #1B1D1E
    padding 16px 0 

    .nav-link
      padding-top 0
      padding-bottom 0
      color #CBCFD4
